<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Overflow News</title>
  <style type="text/css">
    .feeds {
      display: block;
    }
    .feeds li {
      margin-bottom: 20px;
    }
    .feeds li a {
      display: inline-block;
    }
  </style>
</head>
  <body>
    <div><a href="/">Posts</a> - <strong>Feeds</strong></div>
    <ol class="feeds">
      <% feeds.forEach(function(feed) { %>
      <li>
        <div class="header">
          <a href="<%= feed.url %>" target="_blank">
            <%= feed.title %>
          </a>
        </div>
        <div class="url">
          <a href="<%= feed.url %>" title="<%= feed.rss %>">
            (<%= feed.url %>)
          </a>
        </div>
        <div class="date">
          <%= feed.date %>
        </div>
      </li>
      <% }) %>
    </ol>
  </body>
</html>
