<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Overflow News - Get latest news from dev world</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css">
  <style type="text/css">
    .navbar div:nth-child(2) {
      text-align: right;
    }
    .navbar,
    .navbar h1 {
      font-size: 14px;
    }
    ol {
      font-size: 14px;
    }
    .posts li {
      margin-bottom: 20px;
      line-height: 20px;
    }
    .posts li .title {
      font-size: 14px;
    }
    .posts li .about a {
      color: #00bcd4;
      border-bottom: 0px;
    }
    .posts li .about a:hover {
      color: #ffffff;
      background-color: #00bcd4;
    }
    .footer {
      margin-bottom: 20px;
    }
    .footer .heart {
      border-bottom: 0px;
    }
    .pagination,
    .pagination li {
      outline: none;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .pagination {
      text-align: center;
      max-width: 720px;/* limited by <hr />*/
    }
    ul.pagination > li:after {
      content: none;
    }
    .pagination li {
      display: inline-block;
    }
  <% if (currentPage > 1) { %>
    ol.posts[start="<%= (perPage * (currentPage - 1)) + 1 %>"] {
      counter-reset: a <%= (perPage * (currentPage - 1)) %>;
    }
    .posts li {
      padding-left: <%= Math.ceil(((perPage * (currentPage - 1)) + perPage + 1) / 100) * 8 + 20 %>px
    }
    .posts li:after {
      left: 0 !important;
    }
  <% } %>
  </style>
</head>
<body class="hack container">
  <div class="grid -middle navbar">
    <div class="cell -8of12">
      <h1>Overflow News - Get latest news from dev world</h1>
    </div>
    <div class="cell -4of12">
      Powered by <a href="https://absam.io" target="_blank">absam.io</a> | <a href="https://github.com/devfsa/overflow-news" target="_blank">GitHub</a>
    </div>
  </div>
  <div class="content">
    <ol class="posts" start="<%= (perPage * (currentPage - 1)) + 1 %>">
      <% posts.forEach(function(post) { %>
      <li>
        <div class="title">
          <a href="<%= post.url %>" target="_blank">
            <%= post.title %>
          </a>
        </div>
        <div class="about">
          <span>By </span>
          <a href="<%= post.sourceURL %>" target="_blank">
            <%= post.sourceName %>
          </a>
          <span><%= moment(post.date).fromNow() %></span>
        </div>
        <div class="categories">
          <span>Categories: </span>
          <% if (post.categories.length == 0) { %>
            <span>Uncategorized.</span>
          <% } else { %>
            <% post.categories.forEach(function(category, index) { %>
              <span>
                <% if (post.categories.length > 1 && index !== post.categories.length-1) { %>
                  <%= category %>,
                <% } else { %>
                  <%= category %>.
                <% } %>
              </span>
            <% }) %>
          <% } %>
        </div>
      </li>
      <% }) %>
    </ol>
  </div>

  <% if (pages > 0) { %>
    <ul class="pagination text-center">
        <% if (currentPage == 1) { %>
            <li class="disabled"><span>First</span></li>
        <% } else { %>
            <li><a href="/posts/1">First</a></li>
        <% } %>
        <% var i = (Number(currentPage) > 4 ? Number(currentPage) - 3 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(currentPage) + 3) && i <= pages; i++) { %>
            <% if (i == currentPage) { %>
                <li class="active"><span><%= i %></span></li>
            <% } else { %>
                <li><a href="/posts/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(currentPage) + 3 && i < pages) { %>
                <li class="disabled"><span>...</span></li>
            <% } %>
        <% } %>
        <% if (currentPage == pages) { %>
            <li class="disabled"><span>Last</span></li>
        <% } else { %>
            <li><a href="/posts/<%= pages %>">Last</a></li>
        <% } %>
    </ul>
  <% } %>

  <hr>

  <div class="footer">
    Made with <a href="#" class="heart" target="_blank"><3</a> by <a href="https://twitter.com/di3goleite" target="_blank">@di3goleite</a> and <a href="https://twitter.com/Ro_DolfoSilva" target="_blank">@Ro_DolfoSilva</a>.
  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116193454-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116193454-1');
  </script>
</body>
</html>
